.impressionWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.bigPicture {
    width: 100%;
    height: 75%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.bigPicture button {
    margin-right: 2%;
    margin-left: 2%;
}

.pictureRangeContainer {
    width: 100%;
    height: 25%;
}

.pictureRange {
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid black;
}

.pictureRange img {
    border: 1px solid black; 
    object-fit: contain;
    height: 100%;  
    width: 100%;
    margin-left: 4%;
}