.weatherWrapper {
    width: 98%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 /*   border: 1px solid black; */
}

.weatherHeader {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  /*  border: 1px solid black; */
}

.weatherControls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 /*   border: 1px solid black; */
}

.weatherContentWrapper {
    width: 100%;
    height: 70%;
    padding-top: 2%;
  /*  border: 1px solid black; */
}

.weatherContent {
    width: 98%;
    height: 96%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto; 
}

.weatherContent button {
    width: 5%;
    height: 100%;
}

.weatherTable {
    height: 100%;
    width: 88%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /*  border: 1px solid black; */
}

.weatherTable tbody {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  /*  border: 1px solid black; */
    flex-grow: 1;
}

.weatherTable tbody tr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    max-height: 25%;
}

.weatherTable tbody td {
    height: 100%;
    width: 100%;
}

.weatherTable .dataRow {
    text-align: left;
}

.weatherTable .iconRow {
    width: 100%;
    height: 100%;
    display: flex;
}

.weatherTable .iconRow img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.weatherTable .tempRow td {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
}

.weatherTable .tempRow .maxTemp {
    font-size: 18px;
}

.weatherTable .tempRow .minTemp {
    font-size: 14px;
}