.detailViewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.detailPaper {
    width: 100%;
    height: 100%;
}

.topMediaContent {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /*  border: 1px solid black; */
}

.impressionViewer {
    display: none;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.locationMap { 
    /* display: none; */
    height: 100%;
    width: 100%;
   /* border: 1px solid black; */
}

.locationDetails {
    height: 50%;
    width: 100%;
   /* margin-top: 1%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
 /*   border: 1px solid black; */
}

.locationDescription {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   /* border: 1px solid black; */
}

.weatherDetails {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   /* border: 1px solid black; */
}

.infoWeatherHorizonalDivider {
    display: none;
}

.infoWeatherVerticalDivider {
    display: inline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    .topMediaContent {
        height: 20%;
    }

    .locationDetails {
        flex-direction: column;
        overflow-y: scroll;
        height: 66%;
    }

    .locationDescription {
        width: 100%;
        height: 100%;
    }

    .weatherDetails {
        width: 100%;
        height: 100%;
    }

    .infoWeatherHorizonalDivider {
        display: inline;
    }

    .infoWeatherVerticalDivider {
        display: none;
    }

    .bottomMediaContent {
        height: 10%;
    }
}
/*  For common media-breakpoints see:
    https://www.w3schools.com/css/css_rwd_mediaqueries.asp 
*/
@media only screen and (min-width: 992px) {
    .locationDetails {
        height: 56%;
    }
    .locationDescription {
        width: 50%;
        height: 100%;
    }

    .weatherDetails {
        width: 50%;
        height: 100%;
    }

    .bottomMediaContent {
        height: 10%;
    }
}
.bookingBtn {
    height: 4%;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomMediaContent {
   /* height: 12%; */
    width: 100%;
  /*  border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.detailAudioPlayerWrapper {
    width: 90%;
    height: 100%;
  /*  border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBtn {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



