.cityInformationWrapper {
    height: 100%;
    width: 98%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
}

.cityInformationHeaderContent {
    height: 10%;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.cityInformationMainContent {
    height: 90%;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;
}

.cityInformationLoadingContent {
    overflow-y: hidden;
}

.cityInformationLoadedContent {
    overflow-y: auto;
}

.cityInformationMainContent ul {
    width: 90%;
    height: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cityInformationMainContent ul li p {
    text-overflow: clip;
}

@media only screen and (max-width: 992px) {
    .cityInformationLoadedContent {
        font-size: 12px;
    }
}