.anotherAudioPlayerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center
}

.audioPlayer {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.audioIconNoInfo {
    width: 0%;
    display: none;
}

.audioIcon {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.audioIcon button {
    width: 100%;
    height: 100%;
}

.trackInfoSpan {
    display: none;
}

.interpreterNoInfo {
    width: 0%;
    display: none;
}

.interpreterInfo {
    padding: 2%;
    width: 50%;
    height: 96%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column
}

.audioControlsNoInfo {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.audioControls {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audioSlider {
    width: 100%;
    height: 30%;
}

.audioStateControls {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    .anotherAudioPlayerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .interpreterInfo {
        display: none;
    }
    .trackInfoSpan {
        display: flex;
        height: 46%;
        width: 100%;
        font-size: 12px;
        align-content: center;
        justify-content: center;
        padding-top: 2%;
    }
    .audioPlayer {
        height: 52%;
    }

    .audioControls {
        height: 98%;
        width: 88%;
        flex-direction: row;
        padding: 1%;
    }

    .audioSlider {
        height: 100%;
    }
}

