html {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vw;
  width: 100vh;
  margin: 0;
  padding: 0;

  background: rgb(34,73,195);
  background: -moz-linear-gradient(0deg, rgba(34,73,195,1) 0%, rgba(45,172,253,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,73,195,1) 0%, rgba(45,172,253,1) 100%);
  background: linear-gradient(0deg, rgba(34,73,195,1) 0%, rgba(45,172,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2249c3",endColorstr="#2dacfd",GradientType=1);
}

#root {
  box-sizing: border-box;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  margin: 0;

  /*
  background: rgb(58,147,180);
  background: -moz-radial-gradient(circle, rgba(58,147,180,1) 0%, rgba(33,228,255,1) 50%, rgba(12,93,145,0.9951330874146533) 100%);
  background: -webkit-radial-gradient(circle, rgba(58,147,180,1) 0%, rgba(33,228,255,1) 50%, rgba(12,93,145,0.9951330874146533) 100%);
  background: radial-gradient(circle, rgba(58,147,180,1) 0%, rgba(33,228,255,1) 50%, rgba(12,93,145,0.9951330874146533) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a93b4",endColorstr="#0c5d91",GradientType=1);
  */

  /*
  background: rgb(34,194,195);
background: -moz-linear-gradient(3deg, rgba(34,194,195,1) 0%, rgba(45,102,253,1) 100%);
background: -webkit-linear-gradient(3deg, rgba(34,194,195,1) 0%, rgba(45,102,253,1) 100%);
background: linear-gradient(3deg, rgba(34,194,195,1) 0%, rgba(45,102,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c2c3",endColorstr="#2d66fd",GradientType=1);
*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
