@media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: App-logo-spin infinite 25s linear;
    }
  }
  
  .mainGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .mainGrid > div {
    /* padding: 2%; */
    width: 100%;
  }
  
  .mainHelpContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 10%;
  }
  
  .mainMediaContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 80%;
  }
  
  .logoWrapper {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .logoWrapper svg {
    height: 85%;
  }
  
  .audioPlayerWrapper {
    padding: 1%;
    width: 98%;
    height: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainMediaOptsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  
  .mainMediaOptsContainer button {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  